/** These are global style settings */
//noinspection CssUnknownTarget
@import (css) url("https://fonts.googleapis.com/css?family=Lato");
@deepgreen: #0d1e06;
@intensivered: #6d1127;
@richgold: #e8b910;
@woodbrown: #664510;
@activenav: #ffd84d;
@linkedel: #9C6E51;
@flowerred: #8C151D;
@background-white: #C4C4C4;

body {
  font-family: 'Lato', sans-serif !important;
}