/** These are global style settings */
//noinspection CssUnknownTarget
@import (css) url("https://fonts.googleapis.com/css?family=Lato");
@background-color: rgba(240, 255, 191, 0.75);
@background-color-components: white;
@image-background-color: #ebdfc7;
@intensivered: #6d1127;
@fontcolor: #b09259;
@woodbrown: #4f3c08;
@activenav: #04114f;
@linkedel: #9C6E51;
@flowerred: #8C151D;
@selectedlink: #8ab681;
@visitedlink: #549061;
@alternative-background-color-components: #ebdfc7;
@background-white: rgba(240, 255, 191, 0.75);

body {
  font: normal normal bold 20px/1.4em brandon-grot-w01-light,sans-serif;
  letter-spacing: 5px;
}